.timer {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  @media (max-width: 600px) {
    max-width: 90vw;
    font-size: 1rem;
  }
}

.timer-text {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  user-select: none;
  margin: 0.5rem 0;
}

.timer-container {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.timer-icon {
  width: 36px;
}
