/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


/* General*/
body {
  min-height: 100vh;
  background: #F5F1E9;
  font-family: "Outfit", sans-serif;
}

.screen {
  min-height: 100vh;
  display: grid;
}

/* Header */

.screen__header {
  height: 12vh;
  background: #7ABAE8;
  color: #3C3834;
  display: flex;
  align-items: center;
}


.progress {
  flex-basis: 400px;
}

.progress__bar {
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.progress__fill {
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  transition: width 0.3s ease;
}

.progress__status {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  color: #333;
}

.progress__count {
  font-weight: bold;
}

.progress__percent {
  color: #555;
}

.timer {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.timer__seconds {
  font-size: 1.5rem;
  font-weight: 700;
}

/* Questions */

.screen__question {
  min-height: 88vh;
}


.question {
  flex-direction: column;
}

.question__info {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.question__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question__number {
  font-size: 5rem;
  font-weight: 500;
}

.question__category {
  font-size: 2rem;
  font-weight: 700;
  color: #461bde;
}

.question__name {
  font-weight: 400;
  font-size: 3rem;
}

/* Options */


.option {
  border-bottom: 0.2rem solid black;
  padding: 2.6rem 1rem;
  display: flex;
  flex-direction: column;
  transition: background 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.option p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}


.option__letter {
  font-size: 2rem;
}

.option:hover {
  cursor: pointer;
  background: #7ABAE8;
}

/* Active and Hidden Classes */
.hidden {
  display: none;
}

.active {
  display: block;
}


/* Layouts */
.multiple-choice {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}


.multiple-choice .option:last-child {
  border-bottom: none;
}
