.screen__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 4rem;
  padding-inline: 2vw;
  margin-top: 1.25rem;

  @media (max-width: 700px) {
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 1vw;
    align-items: center;
    justify-content: center;
  }
}
