.timer-text {
  align-self: end;
}

.logo {
  color: #000;
  font-family: Fraunces;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0 auto;
  margin-right: auto;

  @media (max-width: 600px) {
    font-size: 1.2rem;
    text-align: center;
  }
}