:root {
  --color-background: #fff2df;
  --color-text: #3c3834;
  --color-primary: #7abae8;
  --color-primary-dark: #5ea2c7;
  --color-accent: #461bde;
  --color-error: #d9534f;
  --color-success: #4caf50;
  --color-coral: #FF8577;
  --color-orange: #FABD24;
  --color-blue: #60BCFF;
}
