:root {
  --color-background: #f5f1e9;
  --color-text: #3c3834;
  --color-primary: #7abae8;
  --color-primary-dark: #5ea2c7;
  --color-accent: #461bde;
  --color-error: #d9534f;
  --color-success: #4caf50;
}
