:root {
  --ff-primary: "Spline Sans", sans-serif;
  --ff-title: "Fraunces", serif;

  --fw-reg: 400;
  --fw-md: 500;
  --fw-sb: 600;
  --fw-b: 700;

  --fs-text-xs: 0.75rem;
  --fs-text-sm: 0.875rem;
  --fs-text-md: 1rem;
  --fs-text-lg: 1.125rem;
  --fs-text-xl: 1.25rem;
  --fs-display-xs: 1.5rem;
  --fs-display-sm: 1.875rem;
  --fs-display-md: 2.25rem;
  --fs-display-lg: 3rem;
  --fs-display-xl: 3.75rem;
  --fs-display-2xl: 4.5rem;

  --line-height-xl: 140%;
  --line-height-m: 130%;
}
