.hidden {
  display: none !important;
}

.active {
  display: block;
}

.bg-blue {
  background: var(--color-blue);
}

.bg-orange {
  background: var(--color-orange);
}

.bg-coral {
  background: var(--color-coral);
}

.bg-purple {
  background: var(--color-purple);
}
